django==5.2.13
dj_rest_auth
djangorestframework
django-cors-headers
dotenv
django-allauth
mysqlclient
djangorestframework-simplejwt
bcrypt
requests
gunicorn
django-cleanup
pymupdf
google 
google-genai
